<nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link
      *ngFor="let link of navlinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [routerLinkActiveOptions]="{exact:true}"
      [active]="rla.isActive">
      {{link.label}}
    </a>
</nav>
<router-outlet></router-outlet>
