<div class="container">
  <div class="row">
      <div class="col-lg align-self-center">
          <mat-card>
              <form (ngSubmit)="onSubmit()">
                      <table class="wid">
                          <tr>
                              <td>
                                  <mat-label>Username</mat-label>
                                  <mat-form-field appearance="fill">
                                          <input matInput type="text" id="username" required [(ngModel)]="user.username" name="username" placeholder="Type your username...">
                                  </mat-form-field>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <mat-label>Password</mat-label>
                                  <mat-form-field appearance="fill">
                                      <input matInput type="password" id="password" required [(ngModel)]="user.password" name="password" placeholder="Type your password...">
                                  </mat-form-field>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <mat-label>E-mail</mat-label>
                                  <mat-form-field appearance="fill">
                                      <input matInput  type="text" id="email" required [(ngModel)]="user.email" name="email" placeholder="Type your e-mail...">
                                  </mat-form-field>
                              </td>
                          </tr>
                      </table>
                      <mat-card-actions>
                              <button mat-button color="primary" type="submit">Primary</button>
                      </mat-card-actions>
                  </form>
          </mat-card>
      </div>
  </div>
</div>
