<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-list>
                    <mat-list-item *ngFor="let tag of tags | async">
                      <img matListAvatar src="prawica.jpg" height="50px" width="50px">
                      <h3 matLine> FROM USER </h3>
                      <p matLine>
                        <span> TITLE </span>
                        <span class="demo-2"> -- CONTENT </span>
                    </p>
                    <mat-divider></mat-divider>
                    </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
