<div class="container">
    <div class="col-lg align-self-center" >
            <mat-card>
                    <mat-list>
                            <mat-list-item *ngFor="let post of posts | async">
                                <img matListAvatar src="prawica.jpg" height="50px" width="50px">
                                <h3 matLine> {{post.author}} </h3>
                                <p matLine>
                                <span> {{post.subject}} </span>
                                <span class="demo-2"> {{post.content | slice:0:50}} </span>
                            </p>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
            </mat-card>
    </div>
</div>