<div class="container">
    <div class="row">
        <div class="col-lg align-self-center">
            <mat-card>
                <form (ngSubmit)="onSubmit()">
                        <table class="wid">
                            <tr>
                                <td>
                                    <mat-label>Username</mat-label>
                                    <mat-form-field appearance="fill">
                                            <input matInput type="text" id="author" required [(ngModel)]="post.author" name="author" placeholder="Type your username...">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-label>Title</mat-label>
                                    <mat-form-field appearance="fill">
                                        <input matInput type="text" id="subject" required [(ngModel)]="post.subject" name="subject" placeholder="Type post title">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-label>Text</mat-label>
                                    <mat-form-field appearance="fill">
                                        <textarea matInput  id="content" required [(ngModel)]="post.content" name="content" placeholder="Write your message" rows="10"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-label>Tag</mat-label>
                                    <mat-form-field appearance="fill">
                                        <input matInput type="text" id="tag" name="tag" [(ngModel)]="post.tag" placeholder="Enter tag">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                        <mat-card-actions>
                                <button mat-button color="primary" type="submit">Primary</button>
                        </mat-card-actions>
                    </form>
            </mat-card>
        </div>
    </div>
</div>
